@page "/linqexemplo"

@using LivroCSharp.MinhasClasses

<h2 class="text-center p-2">Lista de Funcionários</h2>

<select name="select" @onchange="Selecionar" class="form-control">
	<option value="Todos">Todos</option>
	@foreach (string opcao in Departamentos)
	{
		<option value="@opcao">@opcao</option>
	}
</select>

<table class="table">

	<thead>
		<tr>
			<th>Nome</th>
			<th>Departamento</th>
			<th>Gênero</th>
			<th>Salário</th>
		</tr>
	</thead>

	@if (Funcionarios != null)
	{
		foreach (Funcionario f in Funcionarios)
		{
			<tr>
				<td>@f.Nome</td>
				<td>@f.Departamento</td>
				<td>@f.Genero</td>
				<td class="text-right">
					@f.Salario.ToString("c")
				</td>
			</tr>
		}
	}

	<tr>
		<td></td>
		<td></td>
		<td class="text-right">TOTAL</td>
		<td class="text-right font-weight-bolder">
			@TotalSalario.ToString("c")
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class="text-right">FUNCIONÁRIOS</td>
		<td class="font-weight-bolder">
			@TotalFuncionarios
		</td>
	</tr>

</table>

@code {

	protected BancoDados MeuBanco = new BancoDados();
	protected List<Funcionario> Funcionarios { get; set; }
	protected List<string> Departamentos { get; set; }
	protected int TotalFuncionarios { get; set; }
	protected decimal TotalSalario { get; set; }


	protected override void OnInitialized()
	{
		Departamentos = MeuBanco.Funcionarios
						.Select(s => s.Departamento)
						.Distinct()
						.ToList();
	}

	protected void Selecionar(ChangeEventArgs e)
	{
		string opcao = e.Value.ToString();

		if (opcao.Equals("Todos"))
		{
			Funcionarios = MeuBanco.Funcionarios
							.ToList();
		}
		else
		{
			Funcionarios = MeuBanco.Funcionarios
							.Where(w => w.Departamento.Equals(opcao))
							.ToList();
		}

		TotalFuncionarios = Funcionarios.Count;
		TotalSalario = Funcionarios.Sum(s => s.Salario);

	}

}